html, body{
    background-image: url("../images/background2.png");
}

.IndexSquare{
    height: 25vw;
    width: 25vw;
    background-color: green;
    cursor: pointer;
}

figure{
    cursor: pointer;
    transition: transform .2s;
}

figure:hover{
    background-color: #343a40;
    color:white !important;
    transform: scale(1.05);
}

figure:hover figcaption{
    color:white !important;
}

.figure-img{
    max-height: 200px;
    min-height: 200px;
}

.TutorNav{
    background-color: #343a40;
    color: white;
    cursor: pointer;
    text-decoration: none;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.ActiveTutor{
    background-color: #343a40;
}

div.dataTables_wrapper {
    width: 100% !important;
    margin: 0 auto;
}

button.dt-button{
    background-color: #343a40 !important;
    color: white !important;
    background-image: linear-gradient(to bottom, #343a40 0%, #343a40 100%) !important;
}
.sorting{
    color: #343a40 !important;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-primary{
    background-color: #343a40 !important;
}